<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" stopOnFailure="false" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Plagiarism Detection Tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="DB_HOST" value="localhost"/>
    <env name="DB_USER" value="root"/>
    <env name="DB_PASS" value=""/>
    <env name="DB_NAME" value="plagiarism_test"/>
  </php>
</phpunit>
